.App {
  text-align: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1, h2, p {
  font-family: 'Montserrat';
  text-align: center;
  color: white;
  text-shadow: 2px 2px grey;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
.weather-container {
  display: flex;
  flex-direction: column;
}

.lohi {
  display: flex;
  justify-content: center;
}

.lohi * {
  padding: 0 5vh;
}
